#{extends 'main.html' /}
#{set title: 'Trainer Dashboard' /}

#{menu id: "trainerdashboard" /}

<div class="ui raised segment">
    <div class="ui relaxed divided list">
        #{list items:members, as: 'member'}
        <div class="item">
            <i class="ui big icon github"></i>
            <div class="content">
                <div class="header">
                    <a href="/viewassessments/${member.id}">${member.name}</a>
                    <a href="/deletemember/${member.id}"><i class="red icon trash"></i></a>
                </div>
                ${member.assessments.size()} assessments
            </div>
        </div>
        #{/list}
    </div>
</div>