#{extends 'main.html' /}
#{set title: 'Dashboard' /}

#{trainermenu/}

<div class="ui raised segment">
    <div class="ui center aligned segment">
        <div class="ui four statistics">
            <div class="statistic">
                <div class="value">
                    <i class="user icon"></i>
                </div>
                <div class="label">
                    ${member.name}
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    <i class="${member.isIdealBodyWeight()} dashboard icon"></i>
                </div>
                <div class="label">
                    Ideal Weight Indicator
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    <i class="heartbeat icon"></i>${member.calculateBMI()}
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    <i class="doctor icon"></i>
                </div>
                <div class="label">
                    ${member.getBMICategory()}
                </div>
            </div>
        </div>
    </div>
    #{list items:member.sortedAssessments(),as:'assessment'}
    <table class="ui table called">
        <thead>
        <tr>
            <th>Weight</th>
            <th>Chest</th>
            <th>Thigh</th>
            <th>Upper Arm</th>
            <th>Waist</th>
            <th>Hips</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>${assessment.weight}</td>
            <td>${assessment.chest}</td>
            <td>${assessment.thigh}</td>
            <td>${assessment.upperArm}</td>
            <td>${assessment.waist}</td>
            <td>${assessment.hips}</td>
            <td>${assessment.comment}</td>
        </tr>
        </tbody>
    </table>

    <form class="ui form" action="/updateComment/${member.id}/${assessment.id}" method="POST">
        <div class="ui field">
            <label>Comments</label>
            <input placeholder="Trainers comment.." type="text" value="${assessment.comment}" name="comment">
        </div>

        <button class="ui blue submit button">Update</button>
    </form>
    #{/list}
</div>