<section class="ui grid center aligned middle aligned segment">
    <div class="two column row">
        <div class="column">
            <h1 class="ui header">
                BMI Tracker
            </h1>
            <p>
                Fill in your assessments week by week and track your BMI. Trainers will comment on your progress and
                encourage you to keep going!
            </p>
        </div>
        <div class="column">
            <img src="/public/images/bmi.jpg">
        </div>
    </div>
</section>